{% extends 'QuakShopsAdminBundle::layout.html.twig' %}

{% block content %}
    <ul id="tabs">
        <li><a href="#shops">Shops</a></li>
        <li><a href="#administrators">Administrators</a></li>
        <li><a href="#regions">Regions</a></li>
        <li><a href="#form">Form</a></li>
        <li><a href="#reporting">Reporting</a></li>
    </ul>
    <div id="shops" class="tabcontent">
        <h1>Shops</h1>
        <div><a href="{{ path('quak_shops_admin_user_new') }}">Create new shop</a></div>
        <ul>
            {% for user in users.ROLE_SHOP %}
            <li><a href="{{ path('quak_shops_admin_user_edit', { userId: user.id}) }}">
            {{ user.name }}
            </a></li>
            {% endfor %}
        </ul>
    </div>


    <div id="administrators" class="tabcontent">
        <h1>Administrators</h1>
        <div><a href="{{ path('quak_shops_admin_user_new') }}">Create new administrator</a></div>
        <ul>
            {% for user in users.ROLE_ADMIN %}
            <li>
                <a href="{{ path('quak_shops_admin_user_edit', { userId: user.id}) }}">
                {{ user.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div id="regions" class="tabcontent">
        <h1>Regions</h1>
        <div><a href="{{ path('quak_shops_admin_region_new') }}">Create new region</a></div>
        <ul>
            {% for region in regions %}
            <li><a href="{{ path('quak_shops_admin_region_edit', { regionId: region.id}) }}">
                {{ region.name }}
            </a></li>
            {% endfor %}
        </ul>
    </div>

    <div id="form" class="tabcontent">

    </div>

    <div id="reporting" class="tabcontent">

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/quakshopsadmin/js/tabs.js') }}"></script>
    <script src="{{ asset('bundles/quakshopsadmin/js/main.js') }}"></script>
{% endblock %}