{% extends 'QuakShopsAdminBundle::layout.html.twig' %}

{% block content %}
    <ul id="tabs">
        <li><a href="#reporting">Reporting</a></li>
        <li><a href="#shops">Shops</a></li>
        <li><a href="#administrators">Administrators</a></li>
        <li><a href="#regions">Regions</a></li>
        <li><a href="#form">Form</a></li>
    </ul>
    <div id="shops" class="tabcontent">
        <h1>Shops</h1>
        <div><a href="{{ path('quak_shops_admin_user_new') }}" class="buttonLink">Create new shop</a></div>
        <ul>
            {% for user in users.ROLE_SHOP %}
            <li><a href="{{ path('quak_shops_admin_user_edit', { userId: user.id}) }}">
            {{ user.name }}</a> (
            {% if user.currentReport %}
            report created at {{ user.currentReport.date | date("d.m.Y H:s:i") }}
            {% else %}
            no report
            {% endif %})</li>
            {% endfor %}
        </ul>
    </div>


    <div id="administrators" class="tabcontent">
        <h1>Administrators</h1>
        <div><a href="{{ path('quak_shops_admin_user_new') }}" class="buttonLink">Create new administrator</a></div>
        <ul>
            {% for user in users.ROLE_ADMIN %}
            <li>
                <a href="{{ path('quak_shops_admin_user_edit', { userId: user.id}) }}">
                {{ user.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div id="regions" class="tabcontent">
        <h1>Regions</h1>
        <div><a href="{{ path('quak_shops_admin_region_new') }}" class="buttonLink">Create new region</a></div>
        <ul>
            {% for region in regions %}
            <li><a href="{{ path('quak_shops_admin_region_edit', { regionId: region.id}) }}">
                {{ region.name }}
            </a></li>
            {% endfor %}
        </ul>
    </div>

    <div id="form" class="tabcontent">
    <h1>Form fields</h1>
        <div><a href="{{ path('quak_shops_admin_field_new') }}" class="buttonLink">Create new field</a></div>
        <ul>
            {% for field in fields %}
            <li><a href="{{ path('quak_shops_admin_field_edit', { fieldId: field.id}) }}">
                ({{field.ordering}}) {{ field.label }}
            </a></li>
            {% endfor %}
        </ul>
    </div>

    <div id="reporting" class="tabcontent">
    <h1>Scheduled reports</h1>
        <div><a href="{{ path('quak_shops_admin_schedule_lookup') }}" class="buttonLink">Download current report</a></div>
        <br />
        <div><a href="{{ path('quak_shops_admin_schedule_new') }}" class="buttonLink">Create new scheduled report</a></div>
        <div><a href="{{ path('quak_shops_admin_schedule_run') }}" class="buttonLink">Send reports now</a></div>
        <ul>
            {% for report in reports %}
            <li><a href="{{ path('quak_shops_admin_schedule_edit', { scheduleId: report.id}) }}">
                {{ report.name }}
            </a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}